# .gitignore
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
venv/
.env
*.sqlite3
*.log
# Entornos virtuales
venv/
rasa38env/

# Archivos y carpetas de Rasa
.rasa/

# Base de datos local
db.sqlite3

# Archivos de logs y cachés
*.log
__pycache__/
*.pyc

# Configuración local de editores
.vscode/
.idea/

# Archivos temporales
*.tmp
*.swp


# Docker
*.pid
docker-compose.override.yml
